<li><class="list-group-item"><i class="fas fa-hamburger"></i>
{{burger_name}}

{{#unless ate}}
	<button class="change-ate" data-id="{{id}}" data-noteate="{{notate}}">
		 Consumed!
	</button>
{{/unless}}
</li>
