li {
    padding: 7px;
    margin: 7px;
    background: rgb(167, 111, 9);
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 7px;
    margin: 7px;
    background: rgb(40, 106, 250);
  }
  
  .form-group {
    margin-bottom: 7px;
  }

  #burg {
    width: 110%;
  }
  